[2020-02-28 16:41] maccallum opened #2 "Spacing between items in nav bar should be reduced"
Adjust the properties for the `<li>` tag in the _layout.scss style sheet to get rid of some of the space between the items in the navigation bar.

[2020-04-03 09:22] #2 closed

[2020-04-03 09:26] maccallum opened #3 "Add includes for making audio examples"
We should have an include called sound-ex or something that does what img-figure does: centers the sound player and puts a caption underneath it like

Sound Example 1.2: Description

[2020-04-03 09:30] maccallum opened #4 "Add an include to highlight keywords in text"
We should be able to do something like `{ include kw word="foo" }` and then mine pages to create keyword lists, and maybe even a glossary or links to wikipedia or something.

[2020-04-03 10:23] maccallum opened #5 "Need a way to refer to units in the text"
We should be able to refer to the unit by a short name like:

Please see `{ include unit-ref name=auditory-stimulus }`.

and have it produce a link to that unit. This should be independent of unit numbers, which could be reordered.

[2020-04-03 10:50] victorpiano commented on #2
Ohhh John. I don't know why I didn't see this before. Closed #2 means you
already did it?

On Fri, 3 Apr 2020 at 11:22, John MacCallum <notifications@github.com>
wrote:

--
VíctorPiano

[2020-04-03 10:51] maccallum commented on #2
Oh, maybe I closed that prematurely, I just figured that the dropdown menu made the nav bar unnecessary, but feel free to reopen this or make a new issue
On Apr 3, 2020, 12:50 PM +0200, victorpiano <notifications@github.com>, wrote:

[2020-04-03 11:13] maccallum opened #6 "Variables that keep track of figure and table numbers don't reset for each page."
Each new page picks up where the last one left off. We have to declare the global variables `_figctr` and `_tabctr` in the preamble with `{% assign _figctr = 0 %}`, and then increment them in the figure and table includes with `{% assign _figctr = _figctr | plus: 1 }%` instead of what we're currently doing which is `{% capture figctr %}{% increment _figctr %}{% endcapture %}`.

[2020-04-03 11:29] maccallum commented on #6
fixed

[2020-04-03 11:29] #6 closed

[2020-11-06 09:43] dmuhr opened #12 "hola hola"
holita

[2020-11-06 09:43] Tobiduchampe opened #13 "Dummy issue"
Does it work?

[2020-11-06 09:44] isaackgil opened #14 "somethings bad"
or not

[2020-11-06 09:44] #13 closed

[2020-11-06 09:44] #12 closed

[2020-11-06 09:46] sensorik opened #15 "issue unicorn 🦄"
I'm an _issue unicorn_ 🦄 and I'm here to help you

[2020-11-06 09:49] derjangraf opened #16 "hey i think i got it!"
complicated

[2020-11-13 05:00] #16 closed

[2020-11-13 05:00] #15 closed

[2020-11-13 05:00] #14 closed

[2020-11-13 05:28] maccallum opened #17 "Adjust play and loop controls in spectrum & sonogram patch"
The play button should mute and unmute the continuous sources (different waveforms and microphone input). Also, for the sources where the loop toggle is inactive, consider sending the toggle the message "ignoreclick", and indicating that it's inactive by turning the "Loop" text gray and/or making it italics.

[2020-11-13 05:44] maccallum opened #18 "Title arrow display issue on Firefox running on Linux"
There seems to be an issue with the font of the arrowhead to the left of the unit title on Firefox running on Arch Linux. The line + arrow character should be replaced by an image.

[2020-11-13 05:53] maccallum opened #19 "Hyperlinks have the same font style as regular text"
We need to decide on a style for hyperlinks in the normal unit text. Right now, they look the same as the surrounding text, so they're essentially invisible. @KlaraFall161 let me know what you think would work, and I'll add it. We're using bold and italics for emphasis throughout, so I guess maybe underline? Color?

[2020-11-13 06:39] maccallum opened #20 "Add Nyquist theorem images to unit 1"

[2020-11-13 07:40] maccallum opened #21 "Show the sum of the two oscillators in DoesPhaseMatter1"
Add a second scope~ that shows the sum of the two oscillators. Make sure to change the y-axis to (-2, 2)

[2020-11-13 08:31] sensorik opened #22 "#issueunicorn🦄 Unit 1: 5.1. Fourier Transform (add visualizations)"
I would suggest adding more visualizations to [Unit 1, 5.1.](https://github.com/MUTOR-2/MUTOR/blob/master/_units/01.md#fourier-transform) in order to illustrate Fourier Transform principes, e. g. like in [this video](https://youtu.be/spUNpyF58BY) or it could be just imaged as well. It helps a lot!

[2020-11-13 09:24] KlaraFall161 commented on #19
Hello John,

maybe cyan or pink? Or underlined (but I am not sure about that..)

Cheers

[2020-11-13 11:04] sensorik commented on #22
![xkcd](https://user-images.githubusercontent.com/64854301/99065894-638f4800-25a8-11eb-9dfc-ece3e5a355db.jpg)

[2020-11-20 21:28] computermusik opened #23 "Observations after teaching the class on unit #2"
1. Going over the material I still found many typos and an incorrect link which I fixed.
2. I had to use additional materials as important information is missing from the unit.
4. I used to show this animation at the beginning of the class serving as an introduction to the anatomy of the ear: https://www.youtube.com/watch?v=PeTriGTENoc. It would be nice to either integrate it or include it in the

[2020-11-27 10:23] victorpiano opened #24 "audio tag"
Some audio tags are not working on chrome (you can not play the files) while in other browsers (like safari) they are.
Check "figure 3.10 A tuba playing A3 going from moderately loud to soft to loud."

[2020-11-27 11:51] maccallum commented on #24
i converted to wav and it seems to work now. ultimately, we'll convert all these audio tag examples to use the graphical waveform display with play button

[2020-11-27 11:51] #24 closed

[2020-11-27 11:53] maccallum opened #25 "Figures numbers and captions in Unit 3 need editing"
Many figures in unit 3 have two captions and / or the wrong numbers. The liquid include tags used for creating figures add captions and automatically increment the figure number counter, so all figures should use those tags.

[2020-11-27 11:57] maccallum opened #26 "Need an audio-fig liquid include"
This should behave the same way as the image figure includes, but should increment its own audio example counter, and should replicate everything from the graphical waveform example in unit 1.

[2020-11-27 11:57] maccallum opened #27 "Rescale new images of impulse responses in unit 3"

[2020-12-04 06:19] maccallum opened #29 "CB Demo: The first sliders in the multisliders don't do anything when the "complex tones" box is checked"
When not using complex tones, the leftmost sliders of the multisliders work as expected to control the amplitude of the sine tones, but in complex mode, the fundamental is controlled by the second slider, not the first.

[2020-12-04 06:21] maccallum opened #30 "CB Demo: Switching to complex tone mode and back should update the multisliders"
When you switch to complex tone mode, the multisliders should update to reflect the amplitudes of the partials, and similarly, when you turn complex tone mode off, they should reset to 0.

[2020-12-04 06:23] maccallum opened #31 "CB Demo: The frequency boxes should change to reflect the intervals chosen with the dropdown menu"
When you choose an interval from the dropdown menu, update the frequency of the appropriate number box

[2020-12-04 06:24] maccallum opened #32 "CB Demo: Add support for Just Intonation"
It may already be there in the JS file, I can't remember... We should consider support for other intonations...

[2020-12-04 06:25] maccallum opened #33 "CB Demo: Replace oscillators~ with oscbank~"
oscillators~ is a CNMAT object, and unfortunately, we're not using any externals. Replace with oscbank~ or ioscbank~.

The output from the JS object will have to be transformed in order to conform to the type of input that oscbank~ expects.

[2020-12-04 07:18] maccallum opened #34 "Add a demo of the Pythagorean comma"
I have a Max patch that I'll check in that can be cleaned up, and we need a web example

[2020-12-04 07:27] victorpiano commented on #34
Did you already push it?

On Fri, 4 Dec 2020 at 08:18, John MacCallum <notifications@github.com>
wrote:

--
VíctorPiano

[2020-12-04 07:31] maccallum commented on #34
yes, just now.

It's pretty bare bones right now. At minimum, it should show the number of steps that each side is on. Maybe it should have a maximum for both sides so that it's clear when they've reached the point where they should be equal, but aren't.

[2020-12-04 07:49] victorpiano commented on #34
where is this patch? can't find it

On Fri, 4 Dec 2020 at 08:32, John MacCallum <notifications@github.com>
wrote:

--
VíctorPiano

[2020-12-04 07:55] maccallum commented on #34
sorry, it's there now

[2020-12-04 07:56] maccallum opened #35 "Move maxpatches folder into assets and merge with the patches folder that's already in there"

[2020-12-11 10:49] sensorik opened #36 "#issueunicorn🦄 Mobile version menu/submenu"
Seems that the mobile version menu doesn't work well, there is some issue when trying to choose any unit in the submenu.

[2020-12-18 08:28] Crolina1928 opened #37 "issue in unit 5, strike notes and other curiosities"
it should be
6/7/8 or 10/11/12
instead of
6/7/8 oder 10/11/12

[2020-12-18 08:32] Crolina1928 opened #38 "issue in unit 6, description of timbre"
it should be
 terms for describing timbre
instead of
 terms for describing timber

[2020-12-18 08:39] Crolina1928 opened #39 "issue unit 6, Spectral Centroid"
should it be
where n is the sample number
instead of
where n is the sample numder

[2021-01-16 09:30] computermusik opened #40 "DJster Autobus Scorepion: change to "overdrive-compatible method""

[2021-01-21 20:31] #40 closed

[2021-03-05 11:37] cheungtszhim opened #42 "Unit 3 Mahler Youtube example doesn't allow embeds. Need to find another youtube version"

[2021-03-07 21:51] fuxiao1208 opened #43 "Welcome text (for Xiao and Georg)"

[2021-03-07 21:52] fuxiao1208 opened #44 "change image size units 4, 5, 6, (John and Victor)"

[2021-03-07 21:54] fuxiao1208 opened #45 "check references for all units (for John)"

[2021-03-07 21:54] fuxiao1208 opened #46 "Search Tools (for John)"

[2021-03-07 21:55] fuxiao1208 opened #47 "Data privacy (for Janina)"

[2021-03-07 21:55] fuxiao1208 opened #48 "Add Uni Hamburg logo"

[2021-03-07 21:55] fuxiao1208 opened #49 "Create favicon (for John)"

[2021-03-07 21:56] fuxiao1208 opened #50 "Video and audio uploads (for James)"

[2021-03-07 21:57] fuxiao1208 opened #51 "Check copyright for images (for James)"

[2021-03-07 21:57] fuxiao1208 opened #52 "Interactive game (for John & Victor)"

[2021-03-07 21:58] fuxiao1208 opened #53 "Max patches (for Victor)"

[2021-03-08 08:42] fuxiao1208 commented on #53
@victorpiano

[2021-03-08 08:44] #53 closed

[2021-03-08 08:45] fuxiao1208 opened #54 "Max patches"
@victorpiano

[2021-03-08 08:51] #54 closed

[2021-03-08 08:53] fuxiao1208 opened #55 "Max patching"

[2021-03-08 10:36] maccallum commented on #49
Reassigning this to Janina since it's a graphics task.

[2021-03-08 12:23] victorpiano commented on #44
done!!!

[2021-03-08 12:24] #44 closed

[2021-03-08 13:08] victorpiano commented on #17
Hey John, i cannot use the message "ignoreclick" on toogle. Or at least doesn't seems to be doing anything

[2021-03-08 13:11] maccallum commented on #17
It seems to work for me--this doesn't work for you?

[code]

[2021-03-08 13:28] victorpiano commented on #21
done!

[2021-03-08 13:28] #21 closed

[2021-03-08 13:33] #25 closed

[2021-03-08 13:33] victorpiano commented on #27
done!

[2021-03-08 13:33] #27 closed

[2021-03-08 13:37] victorpiano commented on #30
I think this is already fixed. Please check it!

[2021-03-08 14:23] maccallum commented on #30
I think there are a couple things that are weird about the "complex tones" toggle. Here are the steps to reproduce one thing that I find weird:

1. Open the patch and bring up the volume
2. Raise the first slider of both multisliders
3. Toggle "complex tones"

When I toggle "complex tones", the multisliders drop to zero, which seems weird, no?

[2021-03-08 14:39] victorpiano commented on #30
ahh right. So
1. This is something we defined for ALL patches. So they don't make any sound when they start (protection to the ears)
2. & 3. yes. They are acting funny. Will check both

[2021-03-08 15:08] maccallum commented on #30
Ok great--sorry, 1 wasn't an issue, it's fine, it was just one of the steps to run the patch :)

[2021-03-09 10:17] KlaraFall161 commented on #48
![mutor_logo_1](https://user-images.githubusercontent.com/44675631/110455679-0411f680-80c9-11eb-80bf-d50d61c42047.png)

[2021-03-09 10:18] KlaraFall161 commented on #48
see above - > new logo @maccallum

[2021-03-09 10:35] KlaraFall161 commented on #49
![Mutor_fav1](https://user-images.githubusercontent.com/44675631/110457966-869bb580-80cb-11eb-87ba-958399eadeb3.png)

bigger..

[2021-03-09 10:35] KlaraFall161 commented on #49
very small, like some manuals said but it looks strange..
![Mutor_fav](https://user-images.githubusercontent.com/44675631/110458034-9a471c00-80cb-11eb-960f-ccf0e52433e5.png)

[2021-03-09 10:38] KlaraFall161 commented on #49
did this with a manual but it looks strange :( ..
![Mutor_fav2](https://user-images.githubusercontent.com/44675631/110458286-e1cda800-80cb-11eb-84c6-c1b77f9d91b0.png)

[2021-03-09 10:38] KlaraFall161 commented on #49
@maccallum

[2021-03-09 10:42] KlaraFall161 commented on #47
Data Privacy Text:

1 Contact details of the data controller

The data controller within the meaning of the General Data Protection Regulation and other national data protection laws of the EU Member States as well as other data protection provisions is:

Hochschule für Musik und Theater Hamburg

Harvestehuder Weg 12

20148 Hamburg

Tel.: +49 40 428482-200

Fax: +49 40 428482-666

The HfMT Hamburg

[2021-03-09 10:46] KlaraFall161 commented on #47
@maccallum

[2021-03-09 10:58] KlaraFall161 commented on #47
@fuxiao1208  maybe you can ask Goran ?

[2021-03-10 00:15] cheungtszhim opened #56 "Almost all links at the end of Unit 2 are dead?"
Shall we still keep them?

[2021-03-10 00:41] cheungtszhim commented on #51
Units 1-4, 10 checked

[2021-03-10 12:12] maccallum commented on #46
I added two search engines to the top of the page for testing here: https://mutor-2.github.io/MUTOR/units/example.html.

The first one is a simple use of Google's ability to search a specific site, and the second one is a custom Google search engine.

I much prefer the first one, at least because it doesn't put a bunch of ads at the top of the results. But the second one has a ton of customization

[2021-03-10 12:59] KlaraFall161 commented on #46
@maccallum first one :)

[2021-03-10 13:10] KlaraFall161 opened #57 "Logo banner responsive + position (For John)"
@maccallum Hello! As you can see the position of der logo banner does not look so good. It just needs 4-8px up. So the middle of the banner (blue line) has the same hight like the middle from "data privacy" (blue line) etc. . Hope you understand.
Also the banner should be responsive because when I scale down my browser window it looks not so good.  (screenshot)

Thank  youuuu
<img width="1119" alt

[2021-03-10 13:57] computermusik commented on #46
Hi John,

I agree that the first option has a certain advantage by not featuring ads. The second has a more elegant design, but ads are unacceptable.
On the other hand, if you perform a search with either method, one would have to perform a second search once you’re taken to the right unit. This is not exactly how I would imagine the whole process. I’d like to therefore discuss the possibility to

[2021-03-10 14:18] maccallum commented on #46
Right, I think that's basically how I would expect it to work, given other sites that are similar to what we're building (for example: https://plato.stanford.edu, https://www.etymonline.com, https://iep.utm.edu).

[2021-03-10 21:44] KlaraFall161 commented on #46
Dear all,
I think the first option is okay - for the moment. But the example like https://www.etymonline.com <https://www.etymonline.com/> is the result we are strive for.

Thank you for your work John!
Janina

[2021-03-11 19:21] wagne342 opened #58 "Cosine.gif is a sine function"
The Cosine.gif in MUTOR/assets is identical to Sine.gif.  This means Figure 1.6 is incorrect. The function should start at 1.0 rather than zero.

[2021-03-11 20:00] wagne342 commented on #58
I have a previous version of this graphic that doesn't appear nearly as smooth.
![Cosine](https://user-images.githubusercontent.com/878883/110847068-52f29400-8261-11eb-996e-12183d75316f.gif)

[2021-03-11 21:02] #43 closed

[2021-03-11 23:23] victorpiano commented on #17
done!

[2021-03-11 23:23] #17 closed

[2021-03-12 00:52] victorpiano commented on #55
only missing patches of unit 9!!!

[2021-03-12 11:33] cheungtszhim opened #59 "Google spreadsheet for status of all media"
https://docs.google.com/spreadsheets/d/1lC6iNSoFfVZ_HAMKGjmv7Ihgqggf-7bjRzC8uc2Ztj0/

[2021-03-12 11:34] cheungtszhim commented on #49
Done

[2021-03-14 23:40] victorpiano commented on #42
hey I really really cannot find a youtube version that can be played so I'm thinking we should look for another solution

[2021-03-15 01:15] cheungtszhim commented on #42
Oh too bad :( Sure let's think about something else...

[2021-03-15 06:44] computermusik commented on #42
The solution would be to find an old recording that’s public domain and use that.
BTW, Happy Birthday, James!!!

Best,

Georg

Sent from my iPhone

[2021-03-15 10:16] fuxiao1208 opened #60 "finish all Max Patch"

[2021-03-15 10:17] fuxiao1208 opened #61 "put small max patches on browser"

[2021-03-15 10:18] fuxiao1208 opened #62 "make videos for big Max patches"

[2021-03-15 10:19] fuxiao1208 opened #63 "Set up an Youtube channel and edit 2 broadcast videos"

[2021-03-15 10:19] fuxiao1208 opened #64 "redo 3 Fotos"

[2021-03-15 11:38] victorpiano commented on #42
found a version in wikipedia of the third movement.
It is just the audio, but I think that is the best we can do for now

[2021-03-15 20:32] cheungtszhim commented on #42
Haha thanks Georg!
Yes of course it's fine with the audio, it was just an audio recording originally anyway

[2021-03-15 20:33] cheungtszhim commented on #42
Btw I have also found a CC licensed version before, but the bassist was playing out of tune... I hope what you found isn't that version :P

[2021-03-16 09:57] victorpiano commented on #42
So the one I found is actually a "virtual orchestra" playing:
"This is the 3rd movement of Gustav Mahler's Symphony No.1. Originally titled "Stranded", another title could be "Hunter's Funeral", as this music was inspired by a wood cut by Moritz Schwind (1850). This rendition was created by the Virtual Philharmonic Orchestra (Reinhold Behringer) using a computer and sound samples"

But I think tha

[2021-03-16 15:06] cheungtszhim commented on #42
Nice 👍🏼

[2021-03-16 20:13] #42 closed

[2021-03-17 11:11] #33 closed

[2021-03-17 11:48] #34 closed

[2021-03-17 11:48] victorpiano commented on #62
done

[2021-03-17 11:48] #62 closed

[2021-03-17 11:49] victorpiano commented on #55
done

[2021-03-17 11:49] #55 closed

[2021-03-17 14:18] victorpiano commented on #30
done!

[2021-03-17 14:18] #30 closed

[2021-03-17 14:18] victorpiano commented on #31
done!

[2021-03-17 14:18] #31 closed

[2021-03-17 14:20] victorpiano commented on #32
How do you imagine this?

[2021-03-17 14:24] victorpiano opened #66 "cb example"
there is an issue with the "JM_CBdemo.js"

When the message "complex tones $1" is received it will output~ all partials but not the fundamental of each sound.

[2021-03-18 03:36] victorpiano commented on #56
I commented that section! on friday we can discuss if we should include them (not all the units have links and I think it doesn't look so nice when some units have and others not

[2021-03-18 04:08] victorpiano commented on #29
done

[2021-03-18 04:08] #29 closed

[2021-03-18 04:16] victorpiano commented on #60
done

[2021-03-18 04:16] #60 closed

[2021-03-18 09:06] fuxiao1208 commented on #63
youtube channel is done!

[2021-03-18 09:09] fuxiao1208 opened #67 "audio examples on browser"

[2021-03-18 20:11] cheungtszhim opened #68 "Figures 7.19 and 7.20 are duplicated?"
unit7_pendulum.gif is displayed twice. Are they supposed to be different pendulums? The text mentions a "coupled pendulum".

[2021-03-18 21:29] cheungtszhim commented on #56
yes let's talk about it tomorrow!

[2021-03-18 21:34] cheungtszhim opened #69 "7.22: Can replace with latex equation?"
Original picture: https://mutor-2.github.io/MUTOR/assets/images/unit7_indispensibility.png
We can replace this image with an equation like those in Unit 3, but the figure numbers will shift.

[2021-03-18 21:42] cheungtszhim commented on #69
\Psi_z (n) = \sum_{r=0}^{z-1}\left \{ \prod_{i=0}^{z-r-1} p_i \psi_{p_{z-r}} \left ( 1+\left ( \left [ 1+\frac{(n-2) \mod \prod_{j=1}^{z}p_j}{\prod_{k=0}^{r}p_{z+1-k}} \right ] \mod p_{z-r} \right ) \right )\right \}

[2021-03-18 21:46] maccallum commented on #69
Go for it, but LaTeXiT won't compile it, so make sure doesn't have an error somewhere

[2021-03-18 21:46] maccallum commented on #68
That's a mistake--I think there should only be one

[2021-03-18 22:06] cheungtszhim commented on #69
There were some mistakes... This should be right:

\Psi_z (n) = \sum_{r=0}^{z-1}\left \{ \prod_{i=0}^{z-r-1} p_i \Psi_{p_{z-r}} \left \( 1+\left \( \left \[ 1+\frac{(n-2) \mod \prod_{j=1}^{z}p_j}{\prod_{k=0}^{r}p_{z+1-k}} \right \] \mod p_{z-r}  \right \) \right \) \right \}

[2021-03-18 22:08] cheungtszhim commented on #69
Oh the code was correct until I pasted it here, where all the \\ \\{ has become {

[2021-03-18 22:09] maccallum commented on #69
Ah ok cool :) Go ahead and close this if it's all good

[2021-03-18 22:57] cheungtszhim commented on #69
Figured out why the code didn't work: I had to write `\\\{` for `\{`

[2021-03-18 23:56] cheungtszhim commented on #69
Done

[2021-03-18 23:56] #69 closed

[2021-03-18 23:57] cheungtszhim opened #70 "Check units and replace text math expressions with MathJax inline math"

[2021-03-18 23:59] cheungtszhim commented on #68
Oh there's a comment on 07.md:
"Can you make the two pendulum images right next to each other? (left and right, not up and down)"
So, probably not a mistake

[2021-03-19 11:28] cheungtszhim opened #71 "Replace inner hair cells picture for 2.10"
https://wellcomecollection.org/works/nyyt9vqw

[2021-03-19 11:37] cheungtszhim commented on #71
I found a colored version:
https://wellcomecollection.org/works/j6575yzx

[2021-03-19 11:42] KlaraFall161 opened #72 "Sizes for graphics (Victor)"
For what I see right now its just about Fig.3.6 and Fig. 3.7  @victorpiano

If not mentioned it always means the width:
UNIT 2
Fig.2.6 400px
Fig.2.11 400px
Fig.2.13 400px
Fig.2.14 400px
Fig. 2.15 width: auto;
height: 500px;
Fig. 2.16 width: auto;
  height: 500px;
Fig. 2.17 400px
Fig. 2.18 500px
Fig. 2.19 500px
Fig 2.20 500px
Fig.2.21 400px
Fig.2.22 300px
Fig.2.23 300px
Fig. 2.24 300px
Fig. 2.25 40

[2021-03-19 11:51] cheungtszhim opened #73 "Fig. 2.6 Cochlea: replace image?"
We've gotten the approval of the copyright owner of this image:
https://mutor-2.github.io/MUTOR/assets/images/cochlea_dissected.png

But I found this one here, which I think looks better and matches the other photographs on the page:
https://wellcomecollection.org/works/ca6usz5s
which is also CC licensed.

Which one do you prefer?

[2021-03-19 11:51] KlaraFall161 commented on #71
![ihc_mvnt](https://user-images.githubusercontent.com/44675631/111776041-d17ab180-88b1-11eb-8459-96abcdb0a7b2.png)

[2021-03-19 11:53] KlaraFall161 commented on #71
@cheungtszhim  thank you for searching the right picture

[2021-03-19 12:08] cheungtszhim commented on #71
Cool!! You're welcome :P

[2021-03-19 13:11] computermusik commented on #73
Hi,

I believe the colored one looks more similar to the other depictions of the Cochlea. The scanning electron micrograph looks as if someone had pulled out the spiral.

g

Sent from my iPhone

[2021-03-23 14:43] victorpiano commented on #72
Unit 2 has already all this dimensions except for fig 2.28 because now it is a video that uses different dimensions.

[2021-03-23 14:54] victorpiano commented on #72
Yes Unit 3 is all ok except for the images you mentioned.
I will keep this issue open in case anybody finds an image that should be resized they can just mention that here!

[2021-03-23 15:11] victorpiano commented on #72
@KlaraFall161 I noticed that for images 3.13 3.14 3.16 3.18 the with was not defined. I used width="450px" for all of them as you suggested to use 450 for images 3.14 3.16 and 3.18 but now they look a little bit smaller.

Please check this!

[2021-03-26 01:52] cheungtszhim commented on #73
No further action needed

[2021-03-26 01:52] #73 closed

[2021-03-26 01:55] cheungtszhim opened #74 "Fig. 8.26-8.27: Definition mixed up?"
I believe the two pictures and their respective descriptions are mixed up. A chorale is a homophony and a canon is a heterophony, right?

[2021-03-26 02:43] cheungtszhim commented on #71
Replaced on site

[2021-03-26 02:43] #71 closed

[2021-03-26 09:06] KlaraFall161 commented on #72
Hello @victorpiano some images need to be resized:
Fig 3.13 width 650px;
Fig 3.14 width 650px;
Fig 3.16 width 650px;
Fig 3.18 width 650px;
Fig 5.13 width 400px;
Fig 5.16 width 400px;
Fig 7.10 width 300px;
Fig 8.6   width 600px;
Fig 8.7   width 300px;
Fig 8.13 width 400px;
Fig 8.29 width 400px;

[2021-03-26 09:08] KlaraFall161 commented on #58
Sorry there was a mistake, I made a new .gif and it is already online.

[2021-03-26 09:08] #58 closed

[2021-03-26 11:08] fuxiao1208 opened #75 "names all of us"

[2021-03-26 11:22] cheungtszhim opened #76 "Upload Max videos onto Youtube"

[2021-03-26 11:22] KlaraFall161 commented on #75
Please make a list with all Names + Informations and I will formatting ist

[2021-03-26 11:23] cheungtszhim opened #77 "Upload animations to YouTube and embed in units 2, 3, 5"

[2021-03-26 11:25] KlaraFall161 commented on #47
Please put this under contact

[2021-03-26 11:26] KlaraFall161 commented on #47
Please put this under data privacy @maccallum

[2021-03-26 11:27] cheungtszhim opened #78 "Embed seminar video onto About page"
Order: Chapter 2, video, Chapter 1, Samples from the first edition of MUTOR

[2021-03-26 11:29] KlaraFall161 commented on #47
Please format headlines like "Legal form and legal representation" in h2 {
    font-size: x-large;
}
font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

[2021-03-26 11:58] KlaraFall161 opened #79 "Welcome text format (John)"
Please change the format of the headline + text  @maccallum

Headline:
h1 {
    font-size: xx-large;
}
.page-content {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

Text
**.page-content {
    max-width: 800px;**
    padding-right: 10px;
    padding-left: 10px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    po

[2021-03-26 11:59] KlaraFall161 commented on #79
Also it would be good to have some space between motor logo and "welcome to.." like in the other units.

<img width="689" alt="Bildschirmfoto 2021-03-26 um 12 48 41" src="https://user-images.githubusercontent.com/44675631/112628309-05fee800-8e33-11eb-9918-bc7de64af665.png">

[2021-03-26 12:01] KlaraFall161 opened #80 "Menu order (+ team) ..(for John)"
Please change the menu order to

UNITS
REFERENCES
DISCUSSION QUESTIONS
ABOUT
TEAM

Thank you @maccallum

[2021-03-26 12:14] maccallum commented on #35
I've decided against this--it's better to have them at the top level where people can find them, rather than buried in a web assets dir

[2021-03-26 12:14] #35 closed

[2021-03-26 12:14] maccallum commented on #26
done

[2021-03-26 12:14] #26 closed

[2021-03-26 12:14] #20 closed

[2021-03-26 12:35] fuxiao1208 commented on #80
TEAM

Authors:
(texts partially based on audio transcriptions of lectures by Prof. Dr. David Wessel / UC Berkeley):
Prof. Dr. Georg Hajdu / Hamburg University of Music and Drama (HfMT)
Prof. Dr. Psyche Loui / Northeastern University in Boston
Dr. John MacCallum / Hamburg University of Music and Drama (HfMT)
Dr. Birgitta Burger / Hamburg University (Unit 12)
Prof. Dr. Clemens Wöllner / Hamburg Univ

[2021-03-26 12:37] fuxiao1208 commented on #75
TEAM

Authors:
(texts partially based on audio transcriptions of lectures by Prof. Dr. David Wessel / UC Berkeley):
Prof. Dr. Georg Hajdu / Hamburg University of Music and Drama (HfMT)
Prof. Dr. Psyche Loui / Northeastern University in Boston
Dr. John MacCallum / Hamburg University of Music and Drama (HfMT)
Dr. Birgitta Burger / Hamburg University (Unit 12)
Prof. Dr. Clemens Wöllner / Hamburg Univ

[2021-03-26 13:00] KlaraFall161 commented on #80
@maccallum  and @fuxiao1208 like this
![mutorteam](https://user-images.githubusercontent.com/44675631/112635002-8fb2b380-8e3b-11eb-9b10-051a86e5bb58.jpg)

[2021-03-26 13:49] maccallum commented on #75
I've added a team page, and adjusted the menu. @KlaraFall161 and @fuxiao1208 , could you check and let me know if there are other changes to make?

[2021-03-26 13:49] maccallum commented on #75
Sorry, I didn't mean to close this yet until I know that it's ok...

[2021-03-26 14:02] maccallum commented on #47
I've added a contact page, and a data and privacy page with the text above. @KlaraFall161, could you have a look? I notice the email address is still missing...

[2021-03-26 14:04] maccallum commented on #46
@KlaraFall161, @fuxiao1208 and @computermusik : where do we want the search bar to appear? I guess at the top of each unit. also the landing page? anywhere else?

[2021-03-26 14:07] KlaraFall161 commented on #47
Looks good , thank you.

@fuxiao1208 can you please find out which email address needs to be in contact ?
https://mutor-2.github.io/MUTOR/contact/

Missing information is :
E-Mail: website[at]hfmt-hamburg.de
Questions / Help

EMAIL CONTACT

[2021-03-26 14:09] KlaraFall161 commented on #47
ah can you make the headline for
Editor
Legal form and legal representation
Supervisory Authority
Questions / Help

..bigger , like in Data Privacy ? @maccallum

[2021-03-26 14:09] fuxiao1208 commented on #80
is it possible, change how this page looks like above? i mean characters size and italic? thanks! @maccallum

[2021-03-26 14:12] fuxiao1208 commented on #47
just write my email xiao.fu@hfmt-hamburg.de, thanks!

[2021-03-26 14:21] maccallum commented on #75
I'm going to close this as the discussion has moved to #80

[2021-03-26 14:21] #75 closed

[2021-03-26 14:22] maccallum commented on #80
Yes--I guess all the info pages should be like this right?

[2021-03-26 14:36] fuxiao1208 commented on #80
yes, and welcome page too :)

[2021-03-26 14:44] KlaraFall161 commented on #46
@maccallum  maybe top right ?
I don´t prefer to have it under the logo.

Also I would say: everywhere

[2021-03-26 14:49] KlaraFall161 commented on #46
@maccallum mhh I am not sture right now. I like how it looks in a unit , but in about not. I thought maybe like this (just the place not the yellow color etc). But I cannot decide.

<img width="1233" alt="Bildschirmfoto 2021-03-26 um 15 46 17" src="https://user-images.githubusercontent.com/44675631/112649606-e1af0580-8e4a-11eb-8b42-4366a84ae932.png">

[2021-03-26 17:20] maccallum commented on #47
Ok these are done. I still need to apply CSS so they look good, but I'm going to close this now. Reopen if there's something else

[2021-03-26 17:20] #47 closed

[2021-03-26 17:23] maccallum commented on #46
Hmm, yeah I like it in the upper right corner like that.. I'll try to put it there

[2021-03-26 17:43] fuxiao1208 commented on #78
the first one: https://youtu.be/Tp6-iKqM06U

[2021-03-26 18:20] fuxiao1208 commented on #78
the animations:
https://youtu.be/_CqDEiHh79Q
https://youtu.be/BoYgMVUmZPY
https://youtu.be/IC5q4O3JnIE

[2021-03-27 09:17] maccallum commented on #46
@KlaraFall161 can you take a look at the search bar and let me know what you think of its position? it's a bit lower than you have it in the image above

[2021-03-27 09:34] maccallum commented on #80
@KlaraFall161 could you look at all the "info" pages (about, team, etc and the welcome page) and let me know about the formatting?

[2021-03-27 09:39] maccallum opened #81 "Unit summaries"
@computermusik : I'm thinking to make two changes to the units regarding the summaries:

1. Replace the current summaries with the ones that I wrote that have also been used as the narration for the animations
2. Move the location of the summary from the bottom of the unit (it's currently displayed as the final numbered section) to the top a an unnumbered introductory text.

What do you think?

[2021-03-27 09:47] maccallum opened #82 ""Info" page layout"
Questions about the layout and formatting of the "info" pages (about, team, landing page, data and privacy, etc.) are distributed around in other issues, so I'm pulling them over here into their own issue.

[2021-03-27 09:48] maccallum commented on #82
From #80:

![mutorteam](https://user-images.githubusercontent.com/44675631/112635002-8fb2b380-8e3b-11eb-9b10-051a86e5bb58.jpg)

[2021-03-27 09:48] maccallum commented on #80
The menu has been reordered, so I'm closing this and moving discussion of the layout of the pages to #82

[2021-03-27 09:48] #80 closed

[2021-03-27 09:50] maccallum commented on #79
Closing this--please refer to #82 for discussion about info page formatting

[2021-03-27 09:50] #79 closed

[2021-03-27 09:51] maccallum commented on #3
done

[2021-03-27 09:51] #3 closed

[2021-03-27 09:51] maccallum commented on #64
What is this issue for? Which three photos?

[2021-03-27 09:53] maccallum commented on #78
The animations are to go in the units, not the about page, correct?

[2021-03-27 09:54] #67 closed

[2021-03-27 09:54] #61 closed

[2021-03-27 12:06] fuxiao1208 commented on #81
for me the first one ist better :)

[2021-03-27 12:06] fuxiao1208 commented on #78
yes!

[2021-03-27 12:08] maccallum commented on #81
Oh sorry for the confusion @fuxiao1208 i intend to do both

[2021-03-27 12:10] fuxiao1208 commented on #64
now just one, the boy with the ball, i will send Janina this weekend :)

[2021-03-27 12:15] fuxiao1208 commented on #81
oh, sure, haha,

[2021-03-27 19:40] maccallum opened #83 "Review sound files in units"
There is a new include called `p/xwaveform-spectroscope-small` that can be used as a general sound file player.

@victorpiano, could you review the sound files in all the units and replace them with this code where appropriate:

`{% include p/xwaveform-spectroscope-small src="<soundfile>" %}`

where `<soundfile>` is the path to the sound file.

This should be used in place of the `<audio>` tag, wh

[2021-03-29 06:36] victorpiano commented on #83
done!

[2021-03-29 06:45] victorpiano commented on #72
done!

[2021-03-29 06:45] #72 closed

[2021-03-29 06:46] victorpiano commented on #52
done right?

[2021-03-29 06:46] #52 closed

[2021-03-29 06:48] maccallum commented on #83
@victorpiano Can you check through them again and make sure that they all work? I noticed that the ones in unit 6 don't seem to be working. If you find some that don't work and you don't know how to fix them, list them here.

[2021-03-29 06:58] victorpiano commented on #77
done!

[2021-03-29 06:58] #77 closed

[2021-03-29 07:00] victorpiano commented on #83
I'm pretty sure they are all working on my computer in unit 6! D:

[2021-03-29 07:10] victorpiano commented on #83
is it working now?

[2021-03-29 07:17] victorpiano commented on #78
done!

[2021-03-29 07:17] #78 closed

[2021-03-29 08:11] fuxiao1208 commented on #78
Hi @victorpiano I can't see the Videos on die website, only a white area ... Do you think it will take a more time to show the videos? thanks!

[2021-03-29 08:12] fuxiao1208 commented on #77
same here, just white area...

[2021-03-29 08:53] maccallum commented on #81
@KlaraFall161 , could you tell me what you think about the layout of the units that now contains the summary? I haven't pushed the changes yet, so here's an image preview:

![image](https://user-images.githubusercontent.com/1631093/112812034-f1ae2b80-907c-11eb-980a-a8c1afbdba7e.png)

[2021-03-29 08:55] KlaraFall161 commented on #81
@maccallum I like it a lot!

[2021-03-29 08:57] maccallum commented on #81
Great thanks! I'll make the rest of the changes and push.

[2021-03-29 12:07] maccallum commented on #81
@KlaraFall161 and @fuxiao1208 how about the position of the animation?
![image](https://user-images.githubusercontent.com/1631093/112834273-14017280-9098-11eb-853b-f0f2d90d0129.png)

[2021-03-29 12:14] maccallum commented on #81
I went ahead and committed them, so you can check online

[2021-03-29 14:02] KlaraFall161 commented on #81
Hey @maccallum maybe you can format the text content-wise? In this example you have 3 different sizes of text sizes. Maybe it is better to work only with x-large and xx-large ? The oblique style of "synopsis" looks great.
<img width="1144" alt="Bildschirmfoto 2021-03-29 um 16 00 45" src="https://user-images.githubusercontent.com/44675631/112848223-22578a80-90a8-11eb-81c0-739a99725119.png">
<img wi

[2021-03-29 14:11] KlaraFall161 commented on #46
I think it is good to have it on the right side. But can you put it a little bit higher? Like in the pictures the two blue lines have the same height? (I am sorry don't know how to explain, maybe the picture helps)

<img width="1277" alt="Bildschirmfoto 2021-03-29 um 16 08 49" src="https://user-images.githubusercontent.com/44675631/112849545-76af3a00-90a9-11eb-8293-36a959293002.png">

[2021-03-29 14:19] KlaraFall161 commented on #81
@maccallum but the text size for picture descriptions is good (just to be clear)
![Uploading Bildschirmfoto 2021-03-29 um 16.17.04.png…]()

[2021-03-29 19:06] cheungtszhim commented on #78
Me too, it's just showing white space on my side

[2021-03-29 19:07] maccallum commented on #78
Ah, I forgot to fix this—I’ll do it.

[2021-03-29 19:13] victorpiano commented on #78
@maccallum discovered that (somehow) the youtube link I used was wrong for this file and the others in the units. But I'm not so sure how they where so wrong D:

[2021-03-29 19:14] maccallum commented on #78
I got that link by going to the video on YouTube, clicking share and then embed, and copying the code. I didn’t make any changes or anything

[2021-03-30 07:56] maccallum commented on #83
Yes thanks!

[2021-03-30 07:56] #83 closed

[2021-03-30 08:04] fuxiao1208 commented on #63
@maccallum i just saw the broadcast video is still just white area...

[2021-03-30 08:08] maccallum commented on #63
Fixed now @fuxiao1208

[2021-03-30 08:11] maccallum commented on #81
@KlaraFall161 I changed the style for the header tags so that h1 is xx-large, and the rest are x-large. I think it looks better--can you take a look?

[2021-03-30 08:11] maccallum commented on #82
@KlaraFall161 can I close this?

[2021-03-30 08:21] maccallum commented on #49
@KlaraFall161 hmm, this doesn't look great, at least on safari in dark mode.

![image](https://user-images.githubusercontent.com/1631093/112957292-942fe280-9141-11eb-8932-5890e4364828.png)
![image](https://user-images.githubusercontent.com/1631093/112957380-ac076680-9141-11eb-8e78-e1f535d32c1f.png)

[2021-03-30 08:22] maccallum commented on #48
@KlaraFall161 Could you send me the Uni Hamburg logo? I only found this one: https://www.kus.uni-hamburg.de/themen/oeffentlichkeitsarbeit/corporate-design/logo.html

[2021-03-30 08:25] KlaraFall161 commented on #48
you can find it in issue "logo banner responsive"

[2021-03-30 08:25] KlaraFall161 commented on #48
![mmkh_logo_s_solo](https://user-images.githubusercontent.com/44675631/112958015-4f587b80-9142-11eb-99fe-79a02d90c8a7.png)

[2021-03-30 08:26] fuxiao1208 commented on #48
i just send you @maccallum

[2021-03-30 08:27] KlaraFall161 commented on #48
@fuxiao1208 is this the right one? this is what Sebastian sent me

[2021-03-30 08:31] fuxiao1208 commented on #48
@maccallum the white black is MMKH‘s LOGO, and please waiting for Janina, she will add the Uni Hamburg Logo to the logo banner this afternoon. Thanks!

[2021-03-30 08:41] KlaraFall161 commented on #48
please try this... its very very long now..:/

![Uploading mutor_logo_banner.png…]()

[2021-03-30 08:43] KlaraFall161 commented on #48
smaller!
![mutor_logo_banner](https://user-images.githubusercontent.com/44675631/112960492-c3941e80-9144-11eb-8863-4443b2a1ed66.png)

[2021-03-30 08:45] maccallum commented on #48
Wow, ok yes it's long now! can I center these along the bottom and put the contact and data privacy above them on the left or something? I don't think I have time to make this thing responsive when the window gets small, so we'll have to come up with a less sophisticated solution...

[2021-03-30 08:48] KlaraFall161 commented on #48
yes try it

[2021-03-30 12:26] maccallum commented on #48
Idk, what do you think @KlaraFall161? I like the spacing of the logos across the bottom. Not sure about the line. I know the Uni Hamburg logo has to be bigger...

![image](https://user-images.githubusercontent.com/1631093/112988155-d23dfe00-9163-11eb-80cf-4472644bb737.png)

[2021-03-30 12:45] maccallum commented on #46
I've moved this up in line with the burger menu. do you want it over to the left as well @KlaraFall161 ?

[2021-03-30 12:47] maccallum commented on #57
I'm closing this, as the discussion has moved to #48

[2021-03-30 12:47] #57 closed

[2021-03-30 12:49] maccallum commented on #46
Done

[2021-03-30 12:49] #46 closed

[2021-03-30 12:58] maccallum commented on #48
done

[2021-03-30 12:58] #48 closed

[2021-03-30 12:59] maccallum commented on #63
Can we close this @fuxiao1208 ?

[2021-03-30 14:47] #82 closed

[2021-03-30 14:49] #81 closed

[2021-03-30 14:51] maccallum opened #84 "Make sure example unit file doesn't show up in lists of units"

[2021-03-30 15:57] maccallum commented on #19
Done

[2021-03-30 15:57] #19 closed

[2021-03-30 15:58] maccallum commented on #4
For now, this is handled by the search bar

[2021-03-30 15:58] #4 closed

[2021-03-30 15:58] #5 closed

[2021-03-30 16:17] #22 closed

[2021-03-30 16:19] maccallum commented on #37
Fixed

[2021-03-30 16:19] #37 closed

[2021-03-30 16:21] maccallum commented on #38
fixed

[2021-03-30 16:21] maccallum commented on #39
fixed

[2021-03-30 16:21] #39 closed

[2021-03-31 10:59] maccallum opened #85 "Add link to GitHub repo to landing page"
Do this after the migration...